/*General Settings*/
:root{
    --LightGreen:#C2D501;
    --Gray:#333;
}

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color:var(--Gray);
    margin: 0;
    scroll-behavior: smooth;
    transition: 1s;
}
body{
    text-align: center;
}
header{
    padding: 20px;
    scroll-snap-align: start;
    position: relative;
    z-index: 3;
    background-color: white;
}

section{
    position: relative;
}

h1{
    font-size: 28px;
    font-weight: 500;
}

h1,h2{
    padding:10px;
}

.SpGreen{
    color:var(--LightGreen);
    font-weight: bold;
}
ul{
    text-align: left;
    max-width: 450px;
    margin:10px 0;
}
li{
    padding-top: 5px;
}

.gridLeft{grid-column: 1/2;}
.gridRight{grid-column: 2/3;}

.Gray{background-color: var(--Gray);}
.Gray p,.Gray li{color:white}
.Gray h2{color:var(--LightGreen)}
.Gray button{background-color:var(--LightGreen);}
.Gray svg{fill:var(--Gray);}
.Gary b{color:var(--Gray);}
.LightGreen{background-color: var(--LightGreen);}
.LightGreen h2{color:white;}
.LightGreen button{background-color:var(--Gray);}
.LightGreen svg{fill:var(--LightGreen);}
.LightGreen b{color:var(--LightGreen);}
.White{background-color: white;}
.White button{background-color:var(--Gray);}
.White svg{fill:white;}
.White b{color:white;}



/*Sections with Videos*/
.textDiv, .buttonDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}
.textWVideo{
    display: grid;
    grid-template-columns: 50% 50%;
    max-height: 400px;
}
.textWVideo video{
    max-height: 400px;
    max-width: 100%;
    vertical-align: top;
}
#blackScreen{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index:2;
    background-color: black;
    opacity: 0.75;
}
.up{
    z-index: 3;
}

/*Product Videos Section*/
.productsVideo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.videoWCaptionDiv{
    background-color: var(--Gray);
    border-radius: 20px;
    padding: 20px;
    width:380px;
    margin:20px 10px 0px 10px;
}
.videoWCaptionDiv:hover{
    box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.5);
}
.videoWCaptionDiv video{
    width:340px;
    z-index: 1;
}

.videoWCaptionDiv h2{
    color:var(--LightGreen) !important;
    padding-top: 0 !important;
}
.videoWCaptionDiv p{
    color:white;
    padding-top: 10px;
}


/* Product Videos Balck Screen */
.videoWIcon{
    display: grid;
}
.videoWIcon video{
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 2;
}
.videoWIcon svg{fill:var(--LightGreen)}
.blackScreenVideo{
    background-color: var(--Gray);
    opacity: 0.8;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 3;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display:none !important;
}

/* Sound Button */
.soundButton{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
}
.soundButton:hover{
    box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.5);
}
.soundButton b{
    margin-left:10px;
}

/* Form Section */
.formSec{
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 400px;
}

.formText{
    max-width: 400px;
    place-self: center;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
.formText b{
    color: white;
    margin-bottom: 10px;
    font-size: 20px;
}
.formText ul{
    text-align: left !important;
}
.formText li{
    margin-bottom: 10px;
}

.formDiv{
    display: grid;
    grid-template-rows: auto auto;
    overflow: hidden;
}
.formDiv h2{
    grid-row: 1/2;
    place-self: center;
    padding-top: 20px;
}
.formDiv img{
    grid-row: 2/3;
    grid-column: 1/2;
    z-index: 1;
    max-height: 500px;
    place-self: end;
    margin-right: -120px;
}
.nameTag{
    grid-row: 2/3;
    grid-column: 1/2;
    z-index: 2;
    place-self: end;
    padding: 15px 25px;
    background-color: var(--Gray);
    border-radius: 20px 0 0 0 ;
}

form{
    grid-row:2/3;
    grid-column: 1/2;
    z-index: 2;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:380px;
    place-self: end start ;
    margin-bottom: 30px;
}
.formInput{
    display: grid;
    grid-template-columns: 80px 260px;
    margin-top: 10px;
    align-items: center;
}
#nameIn{
    margin-bottom: 10px;
    margin-top: 0px !important;
}
form label{
    text-align: left !important;
    font-weight: bold;
}
form input{
    height:2.5em;
    border: none;
}
form button{
    height:2.5em;
    border:none;
    border-radius: 0px 0px 10px 10px;
    color: var(--LightGreen);
    font-weight: bold;
    margin-top: 10px;
}
form button:hover{
    color:white;
    border: solid 2px white;
}

.checkboxProducts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 110px;
}
.checkboxPartner{
    display: flex;
    justify-content: space-between;
}
form p{
    background-color: transparent;
    color:var(--Gray) !important;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0px 0px;
    width: 100%;
    border-top: solid 1.5px var(--Gray);
    text-align: left !important;
}
.checkboxProducts div,.checkboxPartner div{
    display: flex;
    align-items: center;
}
.checkboxProducts div label,.checkboxPartner div label{
    margin-left: 5px;
}

@media screen and (max-width:1150px)and (min-width:761px){
    form{
        width: 100%;
        border-radius: 20px 0 0 0;
        margin-bottom: 0px;
    }
    .formDiv img{
        margin-bottom: 200px;
    }
    .nameTag{
        margin-bottom: 550px;
        place-self: end start;
        border-radius: 15px;
    }
}
@media screen and (max-width:760px)and (min-width:591px){
    form{
        place-self: end start;
        margin-left: 20px;
    }
}
@media screen and (max-width:590px){
    form{
        width: 100%;
        border-radius: 0;
        margin-bottom: 0px;
    }
    .formDiv img{
        margin-bottom: 200px;
    }
    .nameTag{
        margin-bottom: 550px;
        place-self: end start;
        border-radius: 15px;
    }
}

/* Save's Design Signature */
.SavesSign{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 3;
    background-color: #0c0f06;
}
.SavesSign div{
    text-align: right !important;
    margin-right: 10px;
}
.SavesSign button{
    background: transparent;
    border: none;
    outline: none;
}
.SavesSign p{
    color:#C3E06D !important;
}
.SavesSign svg{
    transition: 100ms !important;
}
.SavesSign svg:hover{
    fill:white !important;
}

/* Mobile Permition Div */
.mobilePermition{
    position: fixed;
    z-index: 4;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    -x-backdrop-filter: blur(3px);
}
.mobilePermition p{
    padding: 15px;
    color:black;
}
.mobilePermition button{
    padding: 10px;
    background-color: transparent;
    border:none;
    border-top:solid 1.5px var(--LightGreen);
    font-weight: bold;
    font-size: 18px;
    transition:100ms;
    outline: none;
}
.mobilePermition button:hover{
    color:var(--LightGreen);
}
.PermitionDiv{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width:350px;
}
/* On Tablet */
@media screen and (max-width:1200px) and (min-width:761px){
    section:first-of-type h2{
        font-size: 16px;
        transition: none !important;
      }
}

/* On Phone */
@media screen and (max-width:760px){
.textWVideo,.formSec{
    grid-template-columns: 100%;
    grid-template-rows: repeat(2,auto);
    max-height: none;
}
.videoDiv{
    grid-row: 2/3;
}
.textDiv{
    grid-row:1/2;
    padding-bottom: 30px;
}
.gridLeft,.gridRight{
    grid-column: 1/2;
}

header svg{
    width: 80%;
}
.videoWCaptionDiv{
    max-width: 90%;
}
.videoWCaptionDiv video{
    width:100%
}

.SavesSign svg{
    width: 100px;
}
.SavesSign p{
    font-size: 12px;
}
}
