:root{
    --LightGreen:#C2D501;
    --Gray:#333;
}

*{
    box-sizing: border-box;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:var(--Gray);
    margin: 0;
    scroll-behavior: smooth;
}

html{
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

header{
    padding: 20px;
    scroll-snap-align: start;
    position: relative;
    z-index: 3;
    background-color: white;
}

section{position: relative;}

h1{
    font-size: 28px;
    font-weight: 500;
}

h1,h2{
    padding:20px;
}

div{place-self: center;}

video{
    max-height: 400px;
    max-width: 100%;
    vertical-align: top;
}

#blackScreen{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index:2;
    background-color: black;
    opacity: 0.75;
}

.focusSection{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.SpGreen{
    color:var(--LightGreen);
    font-weight: bold;
}

.textWVideo{
    display: grid;
    grid-template-columns: 50% 50%;
    max-height: 400px;
}

.gridLeft{grid-column: 1/2;}

.gridRight{grid-column: 2/3;}

.LightGreen{background-color: var(--LightGreen);}
.LightGreen h2{color:white;}

.Gray{
    background-color: var(--Gray);
    color: white;
}
.Gray h2{color:var(--LightGreen)}
.White{background-color: white;}
